@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.foot{
    background-color: #e4b9b4;
    padding: 2px;
    width: 100%;
    text-align: center;
    color: #1f1913;
}

